# Server configuration
SERVER_PROTOCOL=
SERVER_HOST=
PORT=
CORS_ORIGINS=
BACK_PREFIX_IMAGE=
COOKIE_DOMAIN=
IS_PROD=true

# Postgres configuration
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# 42 API configuration
API42_URL=
API42_APP_ID=
API42_APP_SECRET=
API42_APP_REDIRECT=

# JWT configuration
JWT_SECRET=

# Socket-io admin
WS_ADMIN_PASSWORD=
