# Server configuration
SERVER_PROTOCOL=http
SERVER_HOST=back
PORT=3000
CORS_ORIGINS=https://localhost:8080
BACK_PREFIX_IMAGE=https://localhost:8080/api
COOKIE_DOMAIN=
IS_PROD=true

# Postgres configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test

# 42 API configuration
API42_URL=https://api.intra.42.fr
API42_APP_ID="u-s4t2ud-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
API42_APP_SECRET="s-s4t2ud-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
API42_APP_REDIRECT=https://localhost:8080/login

# JWT configuration
JWT_SECRET=secret

# Socket-io admin
WS_ADMIN_PASSWORD=admin
